@import url("https://fonts.googleapis.com/css?family=Montserrat");

.card-background {
  border-radius: 5px;
  padding: 12px;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.3);
}

.col {
  width: 100%;
}

.custom-card-title {
  font-size: 18px;
  font-weight: bold;
}

p {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  margin: 0%;
  font-size: 13px;
}

.imgPlaceholder {
  width: 35px;
  height: 35px;
  margin-top: 6px;
  border-radius: 30px;
  background: rgba(0, 0, 0, 0.3);
}

.row {
  margin-bottom: 12px;
}

.details-container {
  display: flex;
  flex-direction: row;
}

.details-text-container {
  display: flex;
  flex-direction: column;
}
.author-name {
  margin-top: 7px;
  margin-left: 8px;
  font-size: 13px;
}
.published-time {
  margin-left: 8px;
  font-size: 12px;
  margin-top: -5px;
}
