@import url("https://fonts.googleapis.com/css?family=Raleway:400,800");

.appTitle {
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  font-weight: 800;
  margin-left: 15px;
}

.navbar-fixed {
  margin-bottom: 12px;
}
